.product-card {
  .card-img-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      min-height: 100%;
    }
  }
}
